*
{
    margin: 0;
    padding:0;
}
main
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(919741-free-muscle-man-wallpapers-2560x1440-download.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo img
{
    float: left;
    background-color: gray;
    width:150px;
}
.main
{
    1200px;
    marign:auto;
}
.content
{
    text-align: center;
    color: white;
    position: absolute;
    top:170px;
    left:450px;
    border: 10px solid ;
    border-radius: 20px;
    padding:20px;
    font-size: 25px;
    text-
}
#btn
{
	border-radius: 4px;
	background-color: white;
	padding-left: 6px;
	padding-right: 6px;
    font-size: 25px;  
}
#resetbtn
{
	border-radius: 4px;
	background-color: white;
	padding-left: 6px;
	padding-right: 6px;
    font-size: 25px;  
    margin-left: 50px;
}
#btn:hover
{
	border-radius: 4px;
	background-color: silver;
	padding-left: 6px;
	padding-right: 6px;
    font-size: 25px;  
}
#resetbtn:hover
{
	border-radius: 4px;
	background-color: silver;
	padding-left: 6px;
	padding-right: 6px;
    font-size: 25px;  
    margin-left: 50px;
}
icon1
{
    float: left;
}
#home_btn
{
    float: right;
    padding: 15px;
    color:white;
    text-align: center;
    text-decoration: none;
}